<a href="https://colab.research.google.com/github/MarcoBS14/Seminario-de-Ciencia-de-datos/blob/main/SeminarioCD3_intro_pandas_p3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
salarios=pd.read_csv("/content/drive/MyDrive/Anahuac/2024 Agosto-Diciembre/SeminarioCD/Python/salary.csv")

In [ ]:
salarios.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
salarios.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
var_cat=['salary', 'workclass', 'education','marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country'] #lista de variables que deberían tener categorías
for variable in var_cat: #para cada elemento de la lista var_cat
    salarios[variable] = salarios[variable].astype('category') #convertir la variable a categorías

In [ ]:
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
salarios.describe(include='category')

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
count,32561,32561,32561,32561,32561,32561,32561,32561,32561
unique,9,16,7,15,6,5,2,42,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,22696,10501,14976,4140,13193,27816,21790,29170,24720

**Workclass** - esta variable nos indica el tipo de empresa, hay 9 tipos diferentes y la frecuencia más alta es el tipo privado con un total de 22696 registros

In [ ]:
salarios['relationship']

0         Not-in-family
1               Husband
2         Not-in-family
3               Husband
4                  Wife
              ...
32556              Wife
32557           Husband
32558         Unmarried
32559         Own-child
32560              Wife
Name: relationship, Length: 32561, dtype: category
Categories (6, object): [' Husband', ' Not-in-family', ' Other-relative', ' Own-child',
                         ' Unmarried', ' Wife']

In [ ]:
salarios.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
salarios["hours-per-day"]=salarios["hours-per-week"]/5

In [ ]:
salarios["hours-per-day"].head(10)

0     8.0
1     2.6
2     8.0
3     8.0
4     8.0
5     8.0
6     3.2
7     9.0
8    10.0
9     8.0
Name: hours-per-day, dtype: float64

In [ ]:
salarios.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,hours-per-day
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,8.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,2.6
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,8.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,8.0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,8.0

In [ ]:
salarios["hours-per-week"].mean()

40.437455852092995

In [ ]:
print("El número máximo de horas por semana es de: ",salarios['hours-per-week'].max())
print("Mínimo de hrs por semana:",salarios['hours-per-week'].min())
print("Varianza de hrs por semana:",salarios['hours-per-week'].var())
print("Desviación estándar de hrs por semana: ",salarios['hours-per-week'].std())
#print("Suma de hrs por semana: ",salarios['hours-per-week'].sum())
print("Promedio de hrs por semana: ",salarios['hours-per-week'].mean())

El número máximo de horas por semana es de:  99
Mínimo de hrs por semana: 1
Varianza de hrs por semana: 152.45899505045418
Desviación estándar de hrs por semana:  12.347428681731843
Suma de hrs por semana:  1316684
Promedio de hrs por semana:  40.437455852092995

In [ ]:
salarios["sex"].unique()

array([' Male', ' Female'], dtype=object)

In [ ]:
salarios["occupation"].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [ ]:
lista_ocupaciones=salarios["occupation"].unique()
for valor in lista_ocupaciones:
    print(valor)

 Adm-clerical
 Exec-managerial
 Handlers-cleaners
 Prof-specialty
 Other-service
 Sales
 Craft-repair
 Transport-moving
 Farming-fishing
 Machine-op-inspct
 Tech-support
 ?
 Protective-serv
 Armed-Forces
 Priv-house-serv

In [ ]:
len(lista_ocupaciones)

15

In [ ]:
lista_ocupaciones_corregidas=["Adm-clerical", "Exec-managerial", "Handlers-cleaners", "Prof-specialty",
                              "Other-service", "Sales", "Craft-repair", "Transport-moving", "Farming-fishing",
                              "Machine-op-inspct", "Tech-support", "Desconocido", "Protective-serv",
                              "Armed-Forces","Priv-house-serv"]

In [ ]:
for i in range(0,15):
    salarios=salarios.replace({lista_ocupaciones[i]:lista_ocupaciones_corregidas[i]})

In [ ]:
lista_ocupaciones=salarios["occupation"].unique()
for valor in lista_ocupaciones:
    print(valor)

Adm-clerical
Exec-managerial
Handlers-cleaners
Prof-specialty
Other-service
Sales
Craft-repair
Transport-moving
Farming-fishing
Machine-op-inspct
Tech-support
Desconocido
Protective-serv
Armed-Forces
Priv-house-serv

In [ ]:
salarios['relationship'] = salarios['relationship'].str.strip()

In [ ]:
frase="   hola a   todos"
frase.strip()

'hola a   todos'

In [ ]:
lista_relationships=salarios["relationship"].unique()
for valor in lista_relationships:
    print(valor)

Not-in-family
Husband
Wife
Own-child
Unmarried
Other-relative

In [ ]:
#Ordenar de acuerdo con la variable hours-per-week de manera ascendente
salarios.sort_values("hours-per-week", ascending=True)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
8447,67,Desconocido,244122,Assoc-voc,11,Widowed,Desconocido,Not-in-family,White,Female,0,0,1,United-States,<=50K
32525,81,Desconocido,120478,Assoc-voc,11,Divorced,Desconocido,Unmarried,White,Female,0,0,1,Desconocido,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25806,49,Desconocido,31478,7th-8th,4,Married-civ-spouse,Desconocido,Husband,White,Male,0,0,99,United-States,<=50K
30610,51,Self-emp-not-inc,24790,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
10143,35,Desconocido,164866,10th,6,Divorced,Desconocido,Not-in-family,White,Male,0,0,99,United-States,<=50K
4308,35,Self-emp-not-inc,166416,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
1887,55,Self-emp-not-inc,184425,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,>50K

In [ ]:
salarios.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
salarios.sort_values("native-country", ascending=True)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
4785,25,Private,228608,Some-college,10,Never-married,Craft-repair,Other-relative,Asian-Pac-Islander,Female,0,0,40,Cambodia,<=50K
5560,27,Private,292472,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
17382,27,Private,292472,Some-college,10,Never-married,Craft-repair,Not-in-family,Asian-Pac-Islander,Male,0,1876,45,Cambodia,<=50K
28995,46,Private,104632,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
4303,37,Private,191342,1st-4th,2,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1818,52,Private,185407,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Desconocido,<=50K
10218,52,Self-emp-not-inc,135339,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Desconocido,>50K
18459,44,Self-emp-inc,116358,Bachelors,13,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0,0,50,Desconocido,>50K
18672,42,Private,157367,HS-grad,9,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,35,Desconocido,<=50K
12716,28,Private,224506,Some-college,10,Married-civ-spouse,Sales,Husband,Black,Male,0,0,40,Desconocido,<=50K

In [ ]:
salarios.keys()

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary', 'hours-per-day'],
      dtype='object')

In [ ]:
salarios[salarios["sex"]==" Male"]["marital-status"]

0              Never-married
1         Married-civ-spouse
2                   Divorced
3         Married-civ-spouse
7         Married-civ-spouse
                ...
32553          Never-married
32554     Married-civ-spouse
32555          Never-married
32557     Married-civ-spouse
32559          Never-married
Name: marital-status, Length: 21790, dtype: object

In [ ]:
salarios["sex"].unique()

array([' Male', ' Female'], dtype=object)

In [ ]:
salarios["sex"]=salarios["sex"].replace({" Male": "Male", " Female": "Female"})

In [ ]:
salarios[salarios["sex"]=="Male"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [ ]:
salarios["salary"].unique()

array([' <=50K', ' >50K'], dtype=object)

Modificar la variable salary de modo que los valores "<=50K" sean 0s y ">50" sean 1s

In [ ]:
salarios["salary"]=salarios["salary"].replace({" <=50K": 0, " >50K": 1})
salarios.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0


1.   ¿Cuál es la edad promedio de los empleados?
2.   ¿En qué porcentajes se distribuyen las diferentes raza?
3. De las personas que ganan más de 50 mil, ¿cuántas son mujeres?
4. Analizar la relación entre el nivel de estudios y los sueldos

In [ ]:
promedio_edades=salarios["age"].mean()
print("La edad promedio de los empleados es de aproximadamente", round(promedio_edades), "años")

La edad promedio de los empleados es de aproximadamente 39 años

In [ ]:
salarios["age"].count()

32561

In [ ]:
salarios["race"].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)